html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.blurred {
  opacity: 0.1;
}
/* Kitty loader */
#page-wrapper #page-wrapper-loader {
  min-height: 561px;
  line-height: 561px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 30px;
  font-family: cursive;
}
@media (max-width: 750px) {
  #page-wrapper #page-wrapper-loader {
    left: 25%;
  }
}
/* /Kitty loader */
#loading-bar .bar {
  background: #34a5dd !important;
  height: 1px !important;
}
/* Small box usually containing user avatar, name and role */
.small-user-box {
  cursor: pointer;
  background-color: #eee;
  border-radius: 5px;
  max-width: 200px;
  min-height: 50px;
  display: inline-block;
  margin: 2px;
}
.small-user-box.deleted {
  background-color: #B94A48 !important;
}
.small-user-box:hover {
  background-color: #ccc;
}
.small-user-box > div {
  vertical-align: top;
  padding: 5px 0;
}
.small-user-box .col-1 {
  position: absolute;
  width: 50px;
  text-align: center;
  line-height: 40px;
}
.small-user-box .col-1 img {
  width: 40px;
  height: 40px;
}
.small-user-box .col-2 {
  margin-left: 50px;
  padding-right: 10px;
}
.small-user-box .col-2 .green {
  color: #00A000;
}
.small-user-box .col-2 .row-1 {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}
.small-user-box .col-2 .row-2 .btn {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}
/* /Small box usually containing user avatar, name and role */
.search-btn {
  margin-top: 40px;
}
/* Notification */
.notify.alert-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.notify.alert-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
/* /Notification */
.jira-table .header,
.jira-table .body {
  display: table;
  width: 100%;
  margin: 0;
}
.jira-table .header .col {
  width: 20%;
  display: table-cell;
  vertical-align: top;
  font-weight: bold;
  text-align: center;
}
.jira-table .body .col {
  width: 20%;
  display: table-cell;
  vertical-align: top;
  border: 1px solid #999;
  background-color: #eee;
  height: 100%;
}
.jira-table .body .col .task {
  min-width: 100px;
  min-height: 100px;
}
.jira-table .body .col .task .head {
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #ddd;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.jira-table .body .col .task .box {
  width: 100%;
  height: 80px;
  display: table;
}
.jira-table .body .col .task .box .info {
  height: 100%;
  display: table-cell;
  vertical-align: top;
  background-color: #fff;
}
.jira-table .body .col .task .box .info-1 {
  width: 70%;
}
.jira-table .body .col .task .box .info-1 > div {
  width: 100%;
  padding-left: 2px;
}
.jira-table .body .col .task .box .info-1 .number {
  font-weight: bold;
  font-size: 12px;
}
.jira-table .body .col .task .box .info-2 {
  width: 30%;
  text-align: center;
}
.jira-table .body .col .task .box .info-2 img {
  margin: 5%;
  width: 90%;
  max-width: 100px;
}
.jira-table .body .col .task .foot {
  width: 100%;
  height: 20px;
}
.task-flow {
  /*.avatar{
    .avatar-preview();
  }*/
}
.task-flow .messages-box .message {
  position: relative;
  min-height: 50px;
  width: 100%;
}
.task-flow .messages-box .message .col-1 {
  position: absolute;
  width: 50px;
}
.task-flow .messages-box .message .col-1 img {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.task-flow .messages-box .message .col-2 {
  margin-left: 60px;
  height: 100%;
}
.task-flow .messages-box .messageForm .blank {
  background-color: #ffffff;
}
.task-flow .messages-box .messageForm .pending {
  background-color: #5bc0de;
}
.task-flow .messages-box .messageForm .new {
  background-color: #f0ad4e;
}
.task-flow .messages-box .messageForm .refused {
  background-color: #d9534f;
}
.task-flow .messages-box .messageForm .ready {
  background-color: #5cb85c;
}
.task-flow .messages-box .messageForm .done {
  background-color: #337ab7;
}
.search-form > .row {
  min-height: 100px;
}
.search-form .blurred {
  opacity: 0.1;
}
.search-form .block-wrapper {
  position: relative;
}
.search-form .block-wrapper .block-3 {
  width: 100%;
}
.search-form .block-wrapper .block-3 .users-wrap,
.search-form .block-wrapper .block-3 .selected-users-wrap {
  overflow-y: overlay;
  overflow-x: hidden;
  max-height: 250px;
  min-height: 100px;
}
.search-form .block-wrapper .block-3 .assigned-wrap {
  opacity: 0.7;
}
.search-form .block-wrapper .block-3 .assigned-wrap .assigned {
  background-color: #fff;
}
.search-form .block-wrapper .search-row-loader {
  z-index: 1;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  top: 0;
  font-size: 17px;
  font-family: cursive;
}
.search-form .block-wrapper .search-row-loader img {
  width: 40px;
}
.invite-section {
  display: inline-block;
}
.invite-section .sending-invites-loader {
  display: inline-block;
  font-size: 20px;
  font-family: cursive;
}
.invite-section .sending-invites-loader img {
  height: 40px;
}
.task-editor .users-loader {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
