<div class="col">
    <div ng-repeat="box in myboxes" class="task">
        <div class="head">
            {{ box.title }}
        </div>
        <div class="box">
            <div class="info info-1">
                <div class="number"><a ui-sref="{{ box.number_link }}">{{ box.number }}</a></div>
                <div class="name">{{ box.name }}</div>
            </div><div class="info info-2">
                <a ui-sref="{{ box.image_link }}">
                    <img ng-src="{{ box.image | image }}"
                         alt="{{ box.image_name }}"
                         title="{{ box.image_name }}">
                </a>
            </div>
        </div>
        <div class="foot" ng-if="box.deadline">
            <span class="label label-danger pull-right">{{ box.deadline | timeago}}</span>
        </div>
    </div>
</div>