<div class="search-btn" ng-init="init()">
    <button type="button" ng-click="bootSearch()"
            class="btn btn-circle pull-right" ng-class="{'btn-success':!searchActivated(),'btn-warning':searchActivated()}"
            data-toggle="modal" data-target="#searchModal">
        <i class="fa fa-search"></i>
    </button>
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Advanced search</h4>
                </div>
                <div class="modal-body search-form">
                    <!-- 1st block of search -->
                    <div ng-show="search_1" class="block-wrapper">
                        <div class="row search-row-loader" ng-show="loader_search_1">
                            <img src="images/loader.gif"> Loading ...
                        </div>
                        <div class="row block-1">
                            <div class="col-sm-6 col-sm-offset-3" ng-class="{blurred:loader_search_1}">
                                <div class="form-group">
                                    <label>Department"</label>
                                    <select class="form-control" ng-change="departmentsChanged()" ng-model="department">
                                        <option ng-repeat="v in departments" value="{{v.id}}">{{v.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /1st block of search -->
                    <!-- 2st block of search -->
                    <div ng-show="search_2" class="block-wrapper">
                        <div class="row search-row-loader" ng-show="loader_search_2">
                            <img src="images/loader.gif"> Loading ...
                        </div>
                        <div class="row block-1" ng-class="{blurred:loader_search_2}">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Roles:</label>
                                    <select class="form-control" ng-change="rolesChanged()" ng-model="role">
                                        <option value="0">All</option>
                                        <option ng-repeat="v in roles" value="{{v.id}}">{{v.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Subjects:</label>
                                    <select class="form-control" ng-change="" ng-model="subject">
                                        <option ng-repeat="v in subjects" value="{{v.id}}">{{v.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Sprints:</label>
                                    <select class="form-control" ng-change="" ng-model="sprint">
                                        <option ng-repeat="v in sprints" value="{{v.id}}">{{v.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /2st block of search -->
                    <!-- 3st block of search -->
                    <div ng-show="search_3" class="block-wrapper">
                        <div class="row search-row-loader" ng-show="loader_search_3">
                            <img src="images/loader.gif"> Loading ...
                        </div>
                        <div class="row block-3" ng-class="{blurred:loader_search_3}">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5><b>Users:</b></h5>
                                    </div>
                                </div>
                                <div class="row users-wrap">
                                    <div class="col-xs-12">
                                        <div class="small-user-box" ng-repeat="val in users"
                                             ng-hide="val.selected"
                                             ng-click="userSwitch(val)">
                                            <div class="col-1">
                                                <img ng-src="{{val.user.avatar | image }}" alt="">
                                            </div>
                                            <div class="col-2">
                                                <div class="row-1">
                                                    {{val.role.name}}
                                                </div>
                                                <div class="row-2">
                                                    {{val.user.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5><b>Selected:</b></h5>
                                    </div>
                                </div>
                                <div class="row selected-users-wrap">
                                    <div class="col-xs-12">
                                        <div class="small-user-box" ng-repeat="val in users"
                                             ng-show="val.selected"
                                             ng-click="assignedSwitch(val)">
                                            <div class="col-1">
                                                <img ng-src="{{val.user.avatar | image }}" alt="">
                                            </div>
                                            <div class="col-2">
                                                <div class="row-1 green">
                                                    <icon class="fa fa-check"></icon>{{val.role.name}}
                                                </div>
                                                <div class="row-2">
                                                    {{val.user.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /3st block of search -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="clear()">Clear</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="setSearch()"
                            ng-disabled="initialization">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>