<div ng-init="loadEditor(task_id)" class="task-editor">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header" ng-if="isEditing">Edit task #{{ task_id }}</h3>
            <h3 class="page-header" ng-if="!isEditing">Create task</h3>
        </div>
    </div>
    <div class="row ng-scope">
        <div class="col-lg-12">
            <form ng-submit="save(task)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6"><h5>Editor</h5></div>
                        <div class="col-xs-6 text-right">
                            <a ui-sref="student.task({task_id:task.id})"
                               class="btn btn-default btn-sm" type="reset">View task</a>
                            <button class="btn btn-danger btn-sm" ng-if="isEditing">Save</button>
                            <button class="btn btn-danger btn-sm" ng-if="!isEditing">Create</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name:</label>
                                <input class="form-control" ng-model="task.name">
                            </div>
                            <div class="form-group">
                                <label>Description:</label>
                                <textarea class="form-control" rows="10" ng-model="task.description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Deadline:
                                </label>
                                <span class="label label-danger pull-right">{{ task.deadline_local | timeago:true:false}}</span>
                                <input ng-click="showDeadlineHelper()" class="form-control" ng-model="task.deadline_local"
                                       id="deadlineHelper"
                                       class="btn btn-success btn-circle"
                                       data-toggle="popover"
                                       data-placement="left"
                                       data-html="true"
                                       title="Deadline format"
                                       data-content="If you can see time left then your deadline is correct<br><small><b>YYYY-MM-DD HH:MM</b> 2016-02-28 23:59<br><b>YYYY-MM-DD</b> 2016-08-28</small>"
                                >
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table">
                                        <tr>
                                            <td>Department:</td>
                                            <td ng-if="!isEditing">
                                                <select class="form-control" ng-model="task.department_id">
                                                    <option ng-repeat="v in departments" value="{{ v.id }}">{{ v.name }}</option>
                                                </select>
                                            </td>
                                            <td ng-if="isEditing"><strong>{{ task.department.name }}</strong></td>
                                        </tr>
                                        <tr ng-show="isEditing || creators">
                                            <td>Creator:</td>
                                            <td ng-if="!isEditing">
                                                <select class="form-control" ng-model="task.created_by_assigned_id">
                                                    <option ng-repeat="v in creators" value="{{v.id}}">
                                                        {{ v.user.name }} ({{ v.role.name }})
                                                    </option>
                                                </select>
                                            </td>
                                            <td ng-if="isEditing">
                                                <strong>{{ task.creator.user.name }}({{ task.creator.role.name }})</strong>
                                            </td>
                                        </tr>
                                        <tr ng-show="isEditing || subjects">
                                            <td>Subject:</td>
                                            <td ng-if="!isEditing || isChangingSubject">
                                                <select class="form-control" ng-model="task.subject_id">
                                                    <option value="0">No subject</option>
                                                    <option ng-repeat="v in subjects" value="{{v.id}}">{{v.name}}</option>
                                                </select>
                                            </td>
                                            <td ng-if="isEditing && !isChangingSubject">
                                                <strong>{{ task.subject.name }}</strong>
                                                <button type="button"
                                                        ng-click="loadSubjects()"
                                                        class="btn btn-warning btn-circle pull-right">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-show="isEditing || sprints">
                                            <td>Sprint:</td>
                                            <td ng-if="!isEditing || isChangingSprint">
                                                <select class="form-control" ng-model="task.sprint_id">
                                                    <option value="0">No sprint</option>
                                                    <option ng-repeat="v in sprints" value="{{v.id}}">{{v.name}}</option>
                                                </select>
                                            </td>
                                            <td ng-if="isEditing && !isChangingSprint">
                                                <strong>{{ task.sprint.name }}</strong>
                                                <button type="button"
                                                        ng-click="loadSprints()"
                                                        class="btn btn-warning btn-circle pull-right">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row users-loader" ng-show="loader_users">
                                <img src="images/loader.gif"> Loading ...
                            </div>
                            <div class="row"  ng-class="{blurred:loader_users}">
                                <div class="col-xs-6">
                                    <div class="row">
                                        <label>Users:</label>
                                    </div>
                                    <div class="users">
                                        <div class="small-user-box" ng-repeat="val in users"
                                             ng-hide="val.selected"
                                             ng-click="userSwitch(val)">
                                            <div class="col-1">
                                                <img ng-src="{{val.user.avatar | image }}" alt="">
                                            </div>
                                            <div class="col-2">
                                                <div class="row-1">
                                                    {{val.role.name}}
                                                </div>
                                                <div class="row-2">
                                                    {{val.user.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12" ng-if="isEditing">
                                            <div class="row">
                                                <label>Assigned:</label>
                                            </div>
                                            <div class="small-user-box"
                                                 ng-class="{deleted:val.assigned.deleted}"
                                                 ng-repeat="val in task.student_tasks">
                                                <div class="col-1">
                                                    <img ng-src="{{val.assigned.user.avatar | image }}" alt="">
                                                </div>
                                                <div class="col-2">
                                                    <div class="row-1 green" ng-hide="val.assigned.deleted">
                                                        <icon class="fa fa-check"></icon>
                                                        {{val.assigned.role.name}}
                                                    </div>
                                                    <div class="row-1" ng-show="val.assigned.deleted">
                                                        {{val.assigned.role.name}}
                                                    </div>
                                                    <div class="row-2">
                                                        {{val.assigned.user.name}}
                                                        <button type="button"
                                                                ng-hide="val.assigned.deleted"
                                                                ng-click="userDelete(val.assigned)"
                                                                class="btn btn-danger btn-circle pull-right">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                        <button type="button"
                                                                ng-show="val.assigned.deleted"
                                                                ng-click="userDelete(val.assigned)"
                                                                class="btn btn-success btn-circle pull-right">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <label>Selected:</label>
                                            </div>
                                            <div class="small-user-box" ng-repeat="val in users"
                                                 ng-show="val.selected"
                                                 ng-click="userSwitch(val)">
                                                <div class="col-1">
                                                    <img ng-src="{{val.user.avatar | image }}" alt="">
                                                </div>
                                                <div class="col-2">
                                                    <div class="row-1 green">
                                                        <icon class="fa fa-check"></icon>{{val.role.name}}
                                                    </div>
                                                    <div class="row-2">
                                                        {{val.user.name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>