<div ng-init="loadCreatedTasks()">
    <div class="row">
        <div class="col-xs-8">
            <h3 class="page-header">Created tasks</h3>
        </div>
        <div class="col-xs-4 text-right">
            <a ui-sref="student.task-editor()" class="btn btn-danger page-header">Create task</a>
        </div>
    </div>
    <div class="row tasks">
        <div class="col-lg-12" ng-repeat="task in tasks">
            <div class="row" class="task">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <a ui-sref="student.task({task_id:task.id})">
                                    [#{{ task.id }}]
                                    {{ task.name }}
                                </a>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a ui-sref="student.task-editor({task_id:task.id})" class="btn btn-warning btn-sm">Edit</a>
                                {{ task.created_at | fromDateTime | date:"MMM d, y HH:mm"}}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <p>{{ task.description }}</p>
                        </div>
                    </div>
                    <div class="panel-footer" ng-if="task.deadline">
                        <div class="row">
                            <div class="col-sm-6">
                                <i>Deadline: {{ task.deadline | fromDateTime | date:"MMM d, y HH:mm"}}</i>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span class="label label-danger">{{ task.deadline | timeago}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>