<div ng-init="loadTasks()">
    <div class="row">
        <div class="col-xs-10">
            <h3 class="page-header">
                My tasks
            </h3>
        </div>
        <div class="col-xs-2">
            <modal-tasks-search></modal-tasks-search>
        </div>
    </div>
    <tasks-jira-table tasks="tasks"></tasks-jira-table>
</div>