<div ng-init="loadTask(task_id)" ng-show="task">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Task #{{ task.id }}</h1>
        </div>
    </div>
    <!-- Task description -->
    <div class="row task">
        <div class="col-lg-12">
            <div class="panel panel-{{ task.status | taskStatusToPanelClass }}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            [#{{ task.id }}]
                            {{ task.name }}
                        </div>
                        <div class="col-sm-6 text-right">
                            {{ task.created_at | fromDateTime | date:"MMM d, y HH:mm"}}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-9">
                        <p>{{ task.description }}</p>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <label>Creator:</label>
                            <div class="small-user-box">
                                <div class="col-1">
                                    <img ng-src="{{task.creator.user.avatar | image }}" alt="{{ task.creator.user.name }}">
                                </div>
                                <div class="col-2">
                                    <div class="row-1 green">
                                        <icon class="fa fa-check"></icon>{{task.creator.role.name}}
                                    </div>
                                    <div class="row-2">
                                        {{ task.creator.user.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <i>Deadline: {{ task.deadline | fromDateTime | date:"MMM d, y HH:mm"}}</i>
                        </div>
                        <div class="col-sm-6 text-right">
                            <span class="label label-danger">{{ task.deadline | timeago}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Assigned
                </div>
                <div class="panel-body">
                    <tasks-jira-table task-with-assigned="task"></tasks-jira-table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Task description -->
</div>