<div ng-init="loadTaskFlow(task_id,student_id)" ng-show="task">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Task #{{ task.task_id }} (assigned)</h1>
        </div>
    </div>
    <!-- Task description -->
    <div class="row task">
        <div class="col-lg-12">
            <div class="panel panel-{{ task.status | taskStatusToPanelClass }}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <a ui-sref="student.task({task_id:task.task_id})">
                                [#{{ task.task_id }}]
                                {{ task.task.name }}
                                <task-status status="task.status"></task-status>
                            </a>
                        </div>
                        <div class="col-sm-6 text-right">
                            {{ task.created_at | fromDateTime | date:"MMM d, y HH:mm"}}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-9">
                        <p>{{ task.task.description }}</p>
                    </div>
                    <div class="col-sm-3">

                        <div class="row">
                            <label>Executor:</label>
                            <div class="small-user-box">
                                <div class="col-1">
                                    <img ng-src="{{task.assigned.user.avatar | image }}" alt="{{ task.assigned.user.name }}">
                                </div>
                                <div class="col-2">
                                    <div class="row-1 green">
                                        <icon class="fa fa-check"></icon>{{task.assigned.role.name}}
                                    </div>
                                    <div class="row-2">
                                        {{ task.assigned.user.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Creator:</label>
                            <div class="small-user-box">
                                <div class="col-1">
                                    <img ng-src="{{task.task.creator.user.avatar | image }}" alt="{{ task.task.creator.user.name }}">
                                </div>
                                <div class="col-2">
                                    <div class="row-1 green">
                                        <icon class="fa fa-check"></icon>{{task.task.creator.role.name}}
                                    </div>
                                    <div class="row-2">
                                        {{ task.task.creator.user.name }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <i>Deadline: {{ task.task.deadline | fromDateTime | date:"MMM d, y HH:mm"}}</i>
                        </div>
                        <div class="col-sm-6 text-right">
                            <span class="label label-danger">{{ task.task.deadline | timeago}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Task description -->
    <!-- Task flow -->
    <div class="row task-flow">
        <div class="col-lg-12">
            <div class="chat-panel task-flow panel panel-default messages-box">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i>
                    History
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="">
                        <div class="message" ng-repeat="flow in task.flow">
                            <div class="col-1">
                                <img ng-src="{{ flow.assigned.user.avatar | image }}" alt="">
                            </div>
                            <div class="col-2">
                                <div class="info">
                                    <strong class="primary-font">{{ flow.assigned.user.name }}</strong>
                                    <task-status status="flow.status"></task-status>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{ flow.updated_at | timeago }}
                                    </small>
                                </div>
                                <div class="text">
                                    {{ flow.text }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer messageForm">
                    <form ng-submit="sendMessage(task_id,student_id, message)" >
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control"
                                   placeholder="Type your message here..." ng-model="message.text">
                            <div class="input-group-btn">
                                <select class="btn" ng-model="message.status"
                                    ng-class="{blank:message.status==='0',
                                        pending:message.status==1,
                                        refused:message.status==2,
                                        ready:message.status==3,
                                        done:message.status==4,
                                    }">
                                    <option value="" class="blank">Just message</option>
                                    <option value="0" ng-show="checkChangeStatusAbility(0)" class="new">Reopen</option>
                                    <option value="1" ng-show="checkChangeStatusAbility(1)" class="pending">Send to check</option>
                                    <option value="2" ng-show="checkChangeStatusAbility(2)" class="refused">Redo</option>
                                    <option value="3" ng-show="checkChangeStatusAbility(3)" class="ready">Ready</option>
                                    <option value="4" ng-show="checkChangeStatusAbility(4)" class="done">Done</option>
                                </select>
                                <button class="btn btn-warning" type="submit">
                                    Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-footer -->
            </div>
        </div>
    </div>
    <!-- /Task flow -->
</div>