.jira-table{
  .column(){
    width: 20%;
    display: table-cell;
    vertical-align: top;
  }
  .header,.body{
    display: table;
    width:100%;
    margin:0;
  }
  .header{
    .col{
      .column();
      font-weight: bold;
      text-align: center;
    }
  }
  .body{
    .col{
      .column();
      border: 1px solid #999;
      background-color: #eee;
      height:100%;
      .task{
        min-width: 100px;
        min-height:100px;
        .head{
          width:100%;
          height: 20px;
          line-height: 20px;
          background-color: #ddd;
          font-size: 10px;
          font-weight: bold;
          text-align: center;

        }
        .box{
          width:100%;
          height: 80px;
          display: table;
          .info{
            height: 100%;
            display: table-cell;
            vertical-align: top;
            background-color: #fff;
          }
          .info-1{
            width:70%;
            &>div{
              width:100%;
              padding-left: 2px;
            }
            .number{
              font-weight: bold;
              font-size: 12px;
            }
            .name{

            }
          }
          .info-2{
            width:30%;
            text-align: center;
            img{
              margin: 5%;
              width:90%;
              max-width: 100px;
            }
          }
        }
        .foot{
          width:100%;
          height:20px;
        }
      }
    }
  }
}