html,body { height: 100%; margin: 0px; padding: 0px; }

.blurred{
  opacity: 0.1;
}
/* Kitty loader */
#page-wrapper{
  #page-wrapper-loader{
    @height: 561px;
    min-height: @height;
    line-height: @height;
    text-align: center;
    position: absolute;
    left:50%;
    top:0;
    font-size: 30px;
    font-family: cursive;
  }
  @media (max-width: 750px) {
    #page-wrapper-loader{
      left:25%;
    }
  }
}
/* /Kitty loader */

#loading-bar .bar {
  background: #34a5dd !important;
  height: 1px !important;
}


/* Small box usually containing user avatar, name and role */
.small-user-box{
  &.deleted{
    background-color: #B94A48 !important;
  }
  &:hover{
    background-color: #ccc;
  }
  cursor:pointer;
  background-color: #eee;
  border-radius: 5px;
  max-width:200px;
  min-height: 50px;
  display: inline-block;
  margin: 2px;

  &>div{
    vertical-align: top;
    padding: 5px 0;
  }
  .col-1{
    position: absolute;
    width:50px;
    text-align: center;
    line-height: 40px;
    img{
      width: 40px;
      height: 40px;
    }
  }
  .col-2{
    margin-left: 50px;
    padding-right: 10px;
    .green{
      color: #00A000;
    }
    .row-1{
      text-align: right;
      font-size: 12px;
      font-weight: bold;
    }
    .row-2{
      .btn{
        margin:0;
        padding:0;
        width:20px;
        height:20px;
      }
    }
  }
}
/* /Small box usually containing user avatar, name and role */

.search-btn{
  margin-top:40px;
}

/* Notification */
.notify{
  &.alert-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  &.alert-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
}
/* /Notification */