.search-form{
  @search-form-height: 100px;
  &>.row{
    min-height: @search-form-height;
  }
  & .blurred{
    opacity: 0.1;
  }
  .block-wrapper{
    position: relative;

    .block-3{
      width: 100%;

      .users-wrap,.selected-users-wrap{
        overflow-y: overlay;
        overflow-x: hidden;
        max-height: 250px;
        min-height: 100px;

      }
      .assigned-wrap{
        opacity:0.7;
        .assigned{
          background-color: #fff;
        }
      }
    }

    .search-row-loader{
      z-index: 1;
      min-height: @search-form-height;
      line-height: @search-form-height;
      text-align: center;
      position: absolute;
      left:50%;
      margin-left: -100px;
      width: 200px;
      top:0;
      font-size: 17px;
      font-family: cursive;
      img{
        width:40px;
      }
    }
  }
}