.task-flow{
  /*.avatar{
    .avatar-preview();
  }*/

  .messages-box{
    .message{
      position: relative;
      min-height: 50px;
      width:100%;

      .col-1{
        position: absolute;
        width:50px;
        img{
          width:40px;
          height:40px;
          margin:5px;
        }
      }
      .col-2{
        margin-left: 60px;
        height:100%;
        .info{

        }
        .text{

        }
      }
    }

    .messageForm{
      .blank {background-color: #ffffff;}
      .pending {background-color: #5bc0de;}
      .new {background-color: #f0ad4e;}
      .refused {background-color: #d9534f;}
      .ready {background-color: #5cb85c;}
      .done {background-color: #337ab7;}

    }
  }
}