<div ng-init="loadEditorDepartment(department_id)" class="task-editor">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header" ng-if="isEditing">Edit department: #{{ department_id }}</h3>
            <h3 class="page-header" ng-if="!isEditing">Create department</h3>
        </div>
    </div>
    <div class="row ng-scope">
        <div class="col-xs-12">
            <form ng-submit="save(department)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6"><h5>Editor</h5></div>
                            <div class="col-xs-6 text-right">
                                <a ui-sref="student.department({department_id:department.id})"
                                   class="btn btn-default btn-sm" type="reset">View department</a>
                                <button class="btn btn-danger btn-sm" ng-if="isEditing">Save</button>
                                <button class="btn btn-danger btn-sm" ng-if="!isEditing">Create</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input class="form-control" ng-model="department.name">
                                </div>
                                <div class="form-group">
                                    <label>Description:</label>
                                    <textarea class="form-control" rows="10" ng-model="department.description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="department.id">
                                <label>Roles ({{department.roles.length}}):</label>
                                <div class="form-inline" ng-repeat="role in department.roles">
                                    <div class="form-group">
                                        <input class="form-control input-sm"
                                               placeholder="Role #{{role.id}}"
                                               ng-model="role.name">
                                    </div>
                                    <div class="form-group">
                                        <p class="small">{{ (department.assigned|filter:{role_id:role.id}).length }} users</p>
                                    </div>
                                    <button type="button"
                                            class="btn btn-success btn-xs"
                                            ng-click="saveRole(role)">Save
                                    </button>
                                </div>
                                <hr>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input class="form-control input-sm "
                                               placeholder="Create new role"
                                               ng-model="newRole.name"/>
                                    </div>
                                    <button type="button"
                                            class="btn btn-primary btn-xs"
                                            ng-click="saveRole(newRole)">Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>