<div ng-init="loadDepartments()">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">Departments:</h3>
        </div>
    </div>
    <div class="row tasks">
        <div class="col-lg-12" ng-repeat="department in departments">
            <div class="row" class="department">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">
                                <a ui-sref="student.department({department_id:department.id})">
                                    [#{{ department.id }}]
                                    {{ department.name }}
                                </a>
                            </div>
                            <div class="col-sm-6 text-right" ng-if="department.created_by_user_id==auth_user_id">
                                <a ui-sref="student.department-editor({department_id:department.id})"
                                   class="btn btn-warning btn-sm">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <p>{{ department.description }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>