<div ng-init="loadDepartment(department_id)">
    <div class="row">
        <div class="col-xs-8">
            <h3 class="page-header">Department: {{department.name}}</h3>
        </div>
    </div>
    <div class="row department">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <a ui-sref="student.department({department_id:department.id})">
                            [#{{ department.id }}]
                            {{ department.name }}
                        </a>
                    </div>
                    <div class="col-sm-6" ng-if="department.created_by_user_id==auth_user_id">
                        <div class="pull-right">
                            <modal-invite department_id="department.id"></modal-invite>
                            <a ui-sref="student.department-editor({department_id:department.id})"
                               class="btn btn-warning btn-sm">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <p>{{ department.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Users ({{department.assigned.length}}):</h4>
                <div class="row" ng-repeat="role in department.roles">
                    <div class="col-xs-12">
                        <label>{{role.name}}</label>
                    </div>
                    <div class="col-xs-12">
                        <div class="small-user-box"  ng-repeat="val in department.assigned" ng-if="val.role_id==role.id">
                            <div class="col-1">
                                <a ui-sref="student.profile({user_id:val.user_id})">
                                    <img ng-src="{{val.user.avatar | image }}" alt="">
                                </a>
                            </div>
                            <div class="col-2">
                                <div class="row-1 green">
                                    <icon class="fa fa-check"></icon>{{val.role.name}}
                                </div>
                                <div class="row-2">
                                    {{val.user.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>