<div class="row jira-table">
    <div class="header">
        <div class="col">New
        </div><div class="col">Pending
        </div><div class="col">Redo
        </div><div class="col">Ready
        </div><div class="col">Done
        </div>
        </div>
    <div class="body">
        <tasks-jira-column all-boxes="all_boxes" status="0">
        </tasks-jira-column><tasks-jira-column all-boxes="all_boxes" status="1">
        </tasks-jira-column><tasks-jira-column all-boxes="all_boxes" status="2">
        </tasks-jira-column><tasks-jira-column all-boxes="all_boxes" status="3">
        </tasks-jira-column><tasks-jira-column all-boxes="all_boxes" status="4">
        </tasks-jira-column>
    </div>
</div>