<div class="invite-section">
    <button type="button" ng-click="bootModal()"
            class="btn btn-sm btn-success" data-toggle="modal" data-target="#inviteModal">
        <i class="fa fa-search"></i> Invite
    </button>
    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Invite users to your department</h3>
                </div>
                <div class="modal-body">
                    <div class="row" ng-show="errors.length>0">
                        <div class="alert alert-danger alert-dismissable">
                            <p ng-repeat="error in errors">{{error}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Users:</label>
                            <div class="row search-row-loader" ng-show="loader_search_users">
                                <img src="images/loader.gif"> Loading ...
                            </div>
                            <div class="row block-users" ng-hide="loader_search_users">
                                <div class="small-user-box" ng-repeat="val in users"
                                     ng-hide="val.invited"
                                     ng-click="userSwitch(val)">
                                    <div class="col-1">
                                        <img ng-src="{{val.avatar | image }}" alt="">
                                    </div>
                                    <div class="col-2">
                                        <div class="row-1">
                                            #{{val.id}}
                                        </div>
                                        <div class="row-2">
                                            {{val.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">

                            <div class="block-invited">
                                <div class="row" ng-if="(users|filter:{invited:true}).length>0">
                                    <label>Send invites to users:</label>
                                </div>
                                <div class="row"
                                     ng-repeat="val in users"
                                     ng-show="val.invited">
                                    <div class="col-sm-6">
                                        <div class="small-user-box"
                                             ng-click="userSwitch(val)">
                                            <div class="col-1">
                                                <img ng-src="{{val.avatar | image }}" alt="">
                                            </div>
                                            <div class="col-2">
                                                <div class="row-1 green">
                                                    <icon class="fa fa-check"></icon>
                                                    #{{val.id}}
                                                </div>
                                                <div class="row-2">
                                                    {{val.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control"  ng-model="val.role_id">
                                            <option ng-repeat="v in roles" value="{{v.id}}">{{v.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" ng-if="emails_invites.length>0">
                                    <label>Send invites to emails:</label>
                                </div>
                                <div class="row" ng-repeat="val in emails_invites">
                                    <div class="input-group">
                                        <input type="text" class="form-control " placeholder="Email..." ng-model="val.email">
                                        <div class="input-group-btn">
                                            <select class="btn" ng-model="val.role_id">
                                                <option ng-repeat="v in roles" value="{{v.id}}">{{v.name}}</option>
                                            </select>
                                            <button ng-click="removeEmailInvite(val)"
                                                    type="button"
                                                    class="btn btn-sm btn-danger btn-circle">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="btn btn-sm btn-primary" ng-click="addEmailInvite()">Add email invite:</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="sending-invites-loader" ng-show="sending_invites">
                        <img src="images/loader.gif"> Sending invites ...
                    </div>
                    <button type="button" class="btn btn-success"  ng-click="sendInvites()" ng-disabled="sending_invites">Invite</button>
                </div>
            </div>
        </div>
    </div>
</div>