<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse" collapse="true">
        <ul class="nav in" id="side-menu">
            <!--<sidebar-search></sidebar-search>-->
            <li ui-sref-active="active">
                <a ui-sref="student.home"><i class="fa fa-info-circle fa-fw"></i> News</a>
            </li>
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)">
                    <i class="fa fa-tasks fa-fw"></i> Tasks<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="student.tasks"> My tasks</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="student.tasks-created"> Created</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)">
                    <i class="fa fa-institution"></i> Departments<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active">
                        <a  ui-sref="student.departments"> My departments</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="student.departments-created"> Created</a>
                    </li>
                </ul>
            </li>


            <!--<hr>
            <li ui-sref-active="active">

                <a ui-sref="student.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="student.table"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="student.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li ng-class="{active: collapseVar==2}">{{dropDown}}
                <a href="" ng-click="check(2)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active">
                        <a ui-sref="student.panels-wells">Panels and Wells</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="student.buttons">Buttons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="student.notifications">Notifications</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="student.typography">Typography</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="student.icons"> Icons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="student.grid">Grid</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==3}">
                <a href="" ng-click="check(3)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                        <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li ng-class="{active:collapseVar==4}">
                <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ng-class="{active: selectedMenu=='blank'}">
                        <a ui-sref="student.blank" ng-click="selectedMenu='blank'">Blank Page</a>
                    </li>
                    <li>
                        <a ui-sref="login">Login Page</a>
                    </li>
                </ul>
            </li>
            <li><a href="http://www.strapui.com/">Premium Angular Themes</a></li>
            -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



