<div ng-init="loadInfo()" ng-show="info">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User #{{ user_id }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-8 bottom-buffer">
            <div class="row">
                <div class="col-sm-6">
                    <img ng-src="{{ info.avatar | image }}"
                         class="img-rounded img-responsive bottom-buffer" alt=""/>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table">
                                <tr>
                                    <td>Name</td>
                                    <td>{{ info.name }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ info.email }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h5><i>Positions</i></h5>
                        <div class="col-xs-12" ng-repeat="assigned in info.assigned">
                            <b>{{ assigned.role.name }} at {{ assigned.department.name }}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
