<div ng-init="loadInfo()" ng-show="info">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Settings</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-8 bottom-buffer">
            <div class="row">
                <div class="col-sm-6">
                    <div ng-hide="changeAvatar">
                        <img ng-src="{{ info.avatar | image }}"
                             class="img-rounded img-responsive bottom-buffer" alt=""/>
                        <button class="btn btn-sm btn-block btn-primary" ng-click="toogleAvatarForm()">Change avatar</button>
                    </div>
                    <div ng-show="changeAvatar">
                        <div class="row">
                            <div class="col-xs-12">
                                <button ngf-select
                                        ng-model="picFile"
                                        class="btn btn-primary"
                                        id="loadAvatarButton" data-loading-text="Loading..."
                                        accept="image/*">
                                    Select Picture
                                </button>
                                <button type="button" class="btn btn-default btn-circle pull-right" ng-click="toogleAvatarForm()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-show="showPreviewImages">
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                 class="cropArea img-rounded img-responsive">
                                <img-crop image="picFile  | ngfDataUrl"
                                          area-type = "square"
                                          result-image="croppedDataUrl"
                                          result-image-size="200"
                                          on-change="changePreviewImagesStatus('changed')"
                                          on-load-begin="changePreviewImagesStatus('loading')"
                                          ng-init="croppedDataUrl=''">
                                </img-crop>
                            </div>
                            <div class="text-center">
                                <img ng-src="{{croppedDataUrl}}" />
                            </div>
                            <button ng-click="upload(croppedDataUrl)" class="btn btn-success btn-block">Save avatar</button>

                            <div class="progress">
                                <div class="progress-bar"
                                     role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                     style="width:{{progress}}%">
                                    <span class="sr-only">{{progress}}% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form ng-submit="update(info)">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="info.name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" ng-model="info.email">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Social network
                </div>
                <div class="panel-body">
                    <div class="row" ng-if="!info.profiles['fb']">
                        <div class="col-xs-10">
                            <a class="btn btn-block btn-social btn-facebook" ng-click="connect('facebook')">
                                <i class="fa fa-facebook"></i> Connect with Facebook
                            </a>
                        </div>
                    </div>
                    <div class="row" ng-if="info.profiles['fb']">
                        <div class="col-xs-10">
                            <a href="https://facebook.com/{{info.profiles['fb']}}"
                               target="_blank"
                               class="btn btn-block btn-social btn-facebook btn-primary">
                                <i class="fa fa-facebook"></i> Connected to Facebook
                            </a>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-default btn-sm btn-circle" ng-click="connect('facebook')">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-if="!info.profiles['g+']">
                        <div class="col-xs-10">
                            <a class="btn btn-block btn-social btn-google-plus" ng-click="connect('google')">
                                <i class="fa fa-google-plus"></i> Connect with Google
                            </a>
                        </div>
                    </div>
                    <div class="row" ng-if="info.profiles['g+']">
                        <div class="col-xs-10">
                            <a href="https://plus.google.com/{{info.profiles['g+']}}"
                               target="_blank"
                               class="btn btn-block btn-social btn-google-plus btn-danger">
                                <i class="fa fa-google-plus"></i> Connected to Google
                            </a>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-default btn-circle" ng-click="connect('google')">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
