<div id="wrapper">

        <!-- Navigation -->
            
        <header></header>
        <!-- /.navbar-top-links -->
        
               
        <!-- /.navbar-static-side -->

            <div id="page-wrapper" style="min-height: 561px;">

                <div id="page-wrapper-view" ng-class="{blurred:loader}">
                    <div ui-view></div>
                </div>

                <div id="page-wrapper-loader" ng-show="loader" class="row">
                    <img src="images/loader.gif"> Loading...
                </div>
            </div>
            <!-- /#page-wrapper -->
    </div>
